apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: {{ postgres.namespace }}
spec:
  replicas: {{ postgres.replicas }}
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres
        image: {{ postgres.image }}
        ports:
        - containerPort: 5432